<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<!--
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500">
  <link rel="stylesheet" href="login.css"> -->
  <title>Formulário de Login Transparente</title>
</head>

<body>
  <div class="full-screen-container">
    <div class="login-container">
      <h3 class="login-title">Bem-Vindo</h3>
      <form>
        <div class="input-group">
          <label>Usuário</label>
          <input type="email">
        </div>
        <div class="input-group">
          <label>Senha</label>
          <input type="password">
        </div>
        <button type="submit" class="login-button">Entrar</button>
      </form>
    </div>
  </div>
</body>

</html>
